{{ partial "head.html" . }}
<link rel="stylesheet" type="text/css" href="../css/resume.css" />
<div
  class="row"
  ;
  style="background-image: url('../../img/wallpaper.jpg'); background-position:center;"
>
  <div class="col-md-3"></div>
  <div class="col-md-7" ; style="background-color: white ">
    <body>
      {{ partial "nav.html" . }}

      {{ partial "resume/summary.html" . }}
   	<ul>
		<li class="exp-il"> {{ partial "resume/paack.html"}} </li>
        <li class="exp-il"> {{ partial "resume/derivco.html"}} </li>
		<li class="exp-il"> {{ partial "resume/palmtree.html"}} </li>
    </ul>
      {{ partial "js.html" . }}
    </body>

    <div class="col-md-2"></div>
  </div>
</div>
