{{ partial "head.html" . }}
<link rel="stylesheet" type="text/css" href="../css/resume.css" />
<div
  class="row"
  ;
  style="background-image: url('../../img/wallpaper.jpg'); background-position:center;"
>
  <div class="col-md-3"></div>
  <div class="col-md-6" ; style="background-color: white ">
    <body>
      {{ partial "nav.html" . }}

      <section id="wrapper" class="post">
        <article></article>
        This is the layout I wanted so bad hola

        <section id="post-body">
          <div class="badges">
            {{ partial "badges/elixir.html"}}
	    {{ partial "badges/ansible.html"}}
            {{ partial "badges/phoenix.html"}}
          </div>
        </section>

        {{ partial "footer.html" . }}
      </section>

      {{ partial "js.html" . }}
    </body>

    <div class="col-md-3"></div>
  </div>
</div>
