<h3>
	Paack - <em class="role">Backend Developer</em>
</h3>

<div class="entry-header" >
	<p class="date" style="margin-bottom:5px">
		Mars 2020 - Currently
	</p>

	<p style="margin-bottom:5px">
		{{ partial "badges/go.html"}}
		{{ partial "badges/docker.html"}}
		{{ partial "badges/kubernetes.html"}}
		{{ partial "badges/postgresql.html"}}
	</p>

</div>

<div class="exp-desc">

    <p>
   Almost all my career I had been working mainly with Elixir and his ecosystem. I felt I needed to try  some other technologies, that is why I decided to make a move to Golang. Paack is an startup focused in logistics. When I entered the compay they were trying to expand their backend using Golang. This new experience allows me to get a deeper knowledge of SOLID principles, hexagonal architecture and how to approach 24/7 systems without OTP.

	</p>
</div>
