<h3>
	Palmtree Statistics - <em class="role">Software Developer</em>
</h3>

<div class="entry-header" >
	<p class="date" style="margin-bottom:5px">
		Septembre 2016 - April 2019
	</p>

	<p style="margin-bottom:5px">
		{{ partial "badges/elixir.html"}}
    {{ partial "badges/docker.html"}}
    {{ partial "badges/python.html"}}
    {{ partial "badges/mongo.html"}}
    {{ partial "badges/postgresql.html"}}
    {{ partial "badges/rabbitmq.html"}}
    {{ partial "badges/javascript.html"}}
	</p>

</div>

<div class="exp-desc">

    <p>
			This was my first working experience and a really relevant personal step that had allowed me to me to discover a enyojable professional path. I started at Palmtree as Intern getting contracted at the end of my Intern period.
		</p>
</div>
